* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body{
    margin-left: 180px;
}
.navbar1{
    background-color: #111;
    color: #818181;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
}
.side-nav{
    background-color: #111;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    font-size: 25px;
    top: 0;
    left: 0;
}
.side-link{
    margin-top: 60px;
}
.side-link a{
    text-decoration: none;
    color: #818181;
    display: block;
    margin-top: 30px;
    text-align: center;
}
.side-link a:hover{
    color: #f1f1f1;

}

.container{
    margin: 50px;
}

.card {
    float: left;
    margin: 10px;
    height: 250px;
    border-radius: 20px;
    border: 5px solid #ccc;
}

.card img {
    border-radius: 20px;
    margin-bottom: 0px;
    height: 170px;
    width: 230px;
    padding: 10px;
    display: inline-block;
}
.card-text{
    margin-top: 0;
    margin-left: 10px;
}
.card-text small{
    color: #818181;
}
.card-text h3{
    color: #111;
}

.card:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.4);

}
.content{
    background-color: red;
}
